


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."calculate_score"("p_time_ms" integer, "p_hints_used" integer) RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  time_seconds INTEGER;
  final_score INTEGER;
BEGIN
  time_seconds := p_time_ms / 1000;

  final_score := (3 - p_hints_used) * 60 + 60 - time_seconds;

  IF final_score < 0 THEN
    final_score := 0;
  END IF;

  RETURN final_score;
END;
$$;


ALTER FUNCTION "public"."calculate_score"("p_time_ms" integer, "p_hints_used" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."calculate_score"("p_is_correct" boolean, "p_time_seconds" integer, "p_hints_used" integer) RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  hints_remaining INTEGER;
  final_score INTEGER;
BEGIN
  -- Wrong answer ΓåÆ zero score
  IF NOT p_is_correct THEN
    RETURN 0;
  END IF;

  hints_remaining := 3 - p_hints_used;

  final_score := (hints_remaining * 60) + 60 - p_time_seconds;

  -- Prevent negative scores
  IF final_score < 0 THEN
    final_score := 0;
  END IF;

  RETURN final_score;
END;
$$;


ALTER FUNCTION "public"."calculate_score"("p_is_correct" boolean, "p_time_seconds" integer, "p_hints_used" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_daily_question"() RETURNS json
    LANGUAGE "sql"
    AS $$
  select json_build_object(
    'question_date', dq.question_date,
    'question_text', dq.question_text,
    'correct_answer', dq.correct_answer,
    'hints', array[dq.hint_1, dq.hint_2, dq.hint_3]
  )
  from daily_questions dq
  where dq.question_date = current_date
$$;


ALTER FUNCTION "public"."get_daily_question"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."submit_attempt"("p_question_date" "date", "p_time_ms" integer, "p_hints_used" integer, "p_is_correct" boolean) RETURNS TABLE("your_score" integer, "your_rank" integer, "players" integer, "avg_score" numeric, "distribution" "jsonb")
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_score integer := 0;
BEGIN
  -- Score calculation
  IF p_is_correct THEN
    v_score := GREATEST(
      0,
      300
      - (p_time_ms / 1000)
      - COALESCE(p_hints_used, 0) * 20
    );
  ELSE
    v_score := 0;
  END IF;

  INSERT INTO attempts (
    question_date,
    is_correct,
    hints_used,
    time_ms,
    score
  )
  VALUES (
    p_question_date,
    p_is_correct,
    CASE WHEN p_is_correct THEN COALESCE(p_hints_used, 0) ELSE NULL END,
    p_time_ms,
    v_score
  );

  RETURN QUERY
  SELECT
    v_score,

    (
      SELECT COUNT(*)::int + 1
      FROM attempts
      WHERE question_date = p_question_date
        AND score > v_score
    ),

    (
      SELECT COUNT(*)::int
      FROM attempts
      WHERE question_date = p_question_date
    ),

    (
      SELECT AVG(score)::numeric(10,2)
      FROM attempts
      WHERE question_date = p_question_date
        AND is_correct = true
    ),

    jsonb_build_object(
      'no_hints',    COUNT(*) FILTER (WHERE is_correct AND hints_used = 0),
      'one_hint',    COUNT(*) FILTER (WHERE is_correct AND hints_used = 1),
      'two_hints',   COUNT(*) FILTER (WHERE is_correct AND hints_used = 2),
      'three_hints', COUNT(*) FILTER (WHERE is_correct AND hints_used = 3),
      'failed',      COUNT(*) FILTER (WHERE is_correct = false)
    )
  FROM attempts
  WHERE question_date = p_question_date;
END;
$$;


ALTER FUNCTION "public"."submit_attempt"("p_question_date" "date", "p_time_ms" integer, "p_hints_used" integer, "p_is_correct" boolean) OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."attempts" (
    "id_attempt" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "question_date" "date" NOT NULL,
    "is_correct" boolean NOT NULL,
    "time_ms" integer NOT NULL,
    "hints_used" integer DEFAULT 0,
    "score" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "hints_used_range" CHECK ((("hints_used" >= 0) AND ("hints_used" <= 3))),
    CONSTRAINT "valid_attempts" CHECK (((("is_correct" = true) AND ("hints_used" IS NOT NULL)) OR ("is_correct" = false)))
);


ALTER TABLE "public"."attempts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."daily_questions" (
    "question_date" "date" NOT NULL,
    "question_text" "jsonb" NOT NULL,
    "correct_answer" "text" NOT NULL,
    "hint_1" "text",
    "hint_2" "text",
    "hint_3" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."daily_questions" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."question_scoreboard" AS
 SELECT "id_attempt",
    "question_date",
    "score",
    "time_ms",
    "rank"() OVER (PARTITION BY "question_date" ORDER BY "score" DESC, "time_ms") AS "rank"
   FROM "public"."attempts";


ALTER VIEW "public"."question_scoreboard" OWNER TO "postgres";


ALTER TABLE ONLY "public"."attempts"
    ADD CONSTRAINT "attempts_pkey" PRIMARY KEY ("id_attempt");



ALTER TABLE ONLY "public"."daily_questions"
    ADD CONSTRAINT "daily_questions_pkey" PRIMARY KEY ("question_date");



CREATE INDEX "idx_attempts_date" ON "public"."attempts" USING "btree" ("question_date");



ALTER TABLE ONLY "public"."attempts"
    ADD CONSTRAINT "attempts_question_fk" FOREIGN KEY ("question_date") REFERENCES "public"."daily_questions"("question_date") ON DELETE CASCADE;



CREATE POLICY "Allow read daily question" ON "public"."daily_questions" FOR SELECT USING (true);



CREATE POLICY "allow insert attempts" ON "public"."attempts" FOR INSERT WITH CHECK (true);



ALTER TABLE "public"."attempts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."daily_questions" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."calculate_score"("p_time_ms" integer, "p_hints_used" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_score"("p_time_ms" integer, "p_hints_used" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_score"("p_time_ms" integer, "p_hints_used" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."calculate_score"("p_is_correct" boolean, "p_time_seconds" integer, "p_hints_used" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_score"("p_is_correct" boolean, "p_time_seconds" integer, "p_hints_used" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_score"("p_is_correct" boolean, "p_time_seconds" integer, "p_hints_used" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_daily_question"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_daily_question"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_daily_question"() TO "service_role";



GRANT ALL ON FUNCTION "public"."submit_attempt"("p_question_date" "date", "p_time_ms" integer, "p_hints_used" integer, "p_is_correct" boolean) TO "anon";
GRANT ALL ON FUNCTION "public"."submit_attempt"("p_question_date" "date", "p_time_ms" integer, "p_hints_used" integer, "p_is_correct" boolean) TO "authenticated";
GRANT ALL ON FUNCTION "public"."submit_attempt"("p_question_date" "date", "p_time_ms" integer, "p_hints_used" integer, "p_is_correct" boolean) TO "service_role";



GRANT ALL ON TABLE "public"."attempts" TO "anon";
GRANT ALL ON TABLE "public"."attempts" TO "authenticated";
GRANT ALL ON TABLE "public"."attempts" TO "service_role";



GRANT ALL ON TABLE "public"."daily_questions" TO "anon";
GRANT ALL ON TABLE "public"."daily_questions" TO "authenticated";
GRANT ALL ON TABLE "public"."daily_questions" TO "service_role";



GRANT ALL ON TABLE "public"."question_scoreboard" TO "anon";
GRANT ALL ON TABLE "public"."question_scoreboard" TO "authenticated";
GRANT ALL ON TABLE "public"."question_scoreboard" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







